.single-contact-card {
  position: absolute;
  height: 60px;
  left: 189px;
  top: 193px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(5, 62, 209, 0.14);
  border-radius: 8px;
  width: 75% !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: 10px !important;
  margin-left: 0px !important;
}
